<div class="walk-table-container">
  <table class="walk-table">
    <thead>
      <tr>
        <th>Walk Name</th>
        <th>Walk Length (km)</th>
        <th>Region</th>
        <th>Add Walk</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let walk of walks">
        <td>{{ walk.name }}</td>
        <td>{{ walk.lengthInKm }}</td>
        <td>{{ walk.region.name }}</td>
        <td>
          <button (click)="addWalk()">Add Walk</button>
        </td>
        <td>
          <button (click)="updateWalk(walk)">Update</button>
        </td>
        <td>
          <button class="danger" (click)="deleteWalk(walk)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Dialog -->
<div class="dialog" *ngIf="showDialog">
  <div class="dialog-content">
    <h3 *ngIf="!isEditMode">Add New Region</h3>
    <h3 *ngIf="isEditMode">Update Region</h3>
    <form [formGroup]="walkForm">
      <label for="name">Give Your Walk A Name:</label>
      <input id="name" formControlName="name" type="text" />
      <label for="description">Description:</label>
      <input id="description" formControlName="description" type="text" />
      <label for="lengthInKm">Walk Length (KM):</label>
      <input id="lengthInKm" formControlName="lengthInKm" type="number" />
      <label for="walkImageUrl">walkImageUrl:</label>
      <input id="walkImageUrl" formControlName="walkImageUrl" type="text" />

      <label for="regionId">Region:</label>
      <select id="regionId" formControlName="regionId">
        <option *ngFor="let region of regions" [value]="region.id">
          {{ region.name }}
        </option>
      </select>

      <label for="difficultyId">Difficulty:</label>
      <select id="difficultyId" formControlName="difficultyId">
        <option *ngFor="let difficulty of difficulties" [value]="difficulty.id">
          {{ difficulty.name }}
        </option>
      </select>

      <div class="dialog-actions">
        <button type="button" *ngIf="!isEditMode" (click)="saveWalk()">
          Save
        </button>
        <button type="button" *ngIf="isEditMode" (click)="saveUpdatedWalk()">
          Update
        </button>
        <button type="button" (click)="closeDialog()">Cancel</button>
      </div>
    </form>
  </div>
</div>
